{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/CSS/style_home.css' %}">
    <title>Home</title>
</head>
<body>

  <div class="color-grey">

      <!-- ---------------------header-------------------- -->
      <div class="header color-grey ">
        <div class="overlap">
          <div class="overlap-group">
            <div class="logo-frame">
              <img class="logo-text" src="{% static 'myapp/img/Logo+Text.svg' %}" />
              <div class="logo-input">
                <div class="logo-input-frame">
                  <div class="logo-img">
                    <img src="{% static 'myapp/img/Icon-select.svg' %}" alt="select" class="menu-line-horizontal ">
                </div>
                  <div class="logo-selectbox-frame">
                    <label class="logo-selectbox" for="categories"></label>
                    <select class="logo-selectbox" name="categories" id="categories">
                      <option value="All Categories">All Categories</option>
                      <option value="Category 1">Category 1</option>
                      <option value="Category 2">Category 2</option>
                      <option value="Category 3">Category 3</option>
                    </select> 

                  </div>
                </div>
              </div>
            </div>


            <div class="search-frame">
              <div class="div-color">
                  <select class=" search-frame-wrapper" name="Search" id="Search">
                    <option value="All ">All </option>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                    <option value="Category 3">Category 3</option>
                  </select> 
              </div>

              <div class="div-wrapper-textbox">
                <div class="search-frame-input">
                  <img class="search-img" src="{% static 'myapp/img/SearchIcon.svg' %}"  alt=""/>
                  <label for="search"></label>
                  <input class="search-text" id="search" placeholder="Search" type="text" />
                </div>
              </div>

              <button class="button">
                <span class="button-text">Search</span>
            </button>
            </div>
          </div>

          <div class="navbar">
            <a href="#" class="text-wrapper-2">Home</a>
            <div>
              <label class="text-wrapper-2" for="shop-selectbox"></label>

              <select class="shop-selectbox" name="shop-selectbox" id="shop-selectbox">
                <option class="shop-selectbox" value="Shop">Shop</option>
                <option class="shop-selectbox" value="A">A</option>
                <option class="shop-selectbox" value="B">B</option>
                <option class="shop-selectbox" value="C">C</option>
              </select> 
              

            </div>
            <a href="#" class="text-wrapper-2">About Us</a>
            <a href="#" class="text-wrapper-2">Blog</a>
            <a href="#" class="text-wrapper-2">Contact Us</a>
          </div>
        </div>

        <div class="login-frame">
          <div class="shortcut-frame">
            <img class="img" src="{% static 'myapp/img/SearchIcon.svg' %}" />
            <img class="img" src="{% static 'myapp/img/like.svg' %}" />
            <img class="img" src="{% static 'myapp/img/Shop.svg' %}" />

            <div class="cart-item">
              <div class="overlap-group-2">
                2
              </div>
            </div>
          </div>
          <button id="loginBtn" class="button-wrapper">
            Login
          </button>
        </div>
    </div>


    <!-- -------------------main page-------------------- -->
    <div class="main-page-frame" >
      <div class="main-page-text-frame">
        <img class="man-with-head" src="{{ active_banner.image.url }}" alt="banner image">
        <div class="image-befor-main-page"></div>
        <div class="text-frame-main-page">
          <div class="main-page-text-1">
              <p>{{ active_banner.header  }}</p>
          </div>
          <div class="main-page-text-2">
            <p>{{ active_banner.caption }}</p>
          </div>
          <button class="main-page-text-frame-button">
            <a class="adwiser-text-button-link" href="{{ active_banner.link  }}">Shop Now</a>
            <img class="main-page-text-frame-button-img" src="{% static 'myapp/img/arrow-right.svg' %}" alt="">
          </button>
        </div>

      </div>

      <div class="shopbycategory">
        <div class="shopbycategoryheader">
          <div class="shopbycategoryheadertext">
            <p >Shop by Catrgories</p>
          </div>

          <div class="buttonshopframe">
            <button class="buttonshopframe1" >
              <img src="{% static 'myapp/img/arrow-right1.svg' %}" alt="before">
            </button>
            <button class="buttonshopframe2">
                <img src="{% static 'myapp/img/arrow-right2.svg' %}" alt="after">
            </button>
          </div>

          <div class="shop-categoris">
              {% for category in categories %}
                <div class="mobile-phone-cat">
                    <div class="background-imgs">
                        <img class="mobile-phone-cat-img" src="{{ category.image.url }}" alt="{{ category.name }}">
                    </div>
                    <p class="mobile-phone-cat-text">{{ category.name }}</p>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>


      <div class="ads-frame">
        <div class="ads-frame1">
          <button class="ads-frame-off-btn">50% OFF</button>
          <p class="ads-frame-header-text">Mackbook Air M2</p>
          <p class="Dontmiss">Don't miss the last opportunity </p>
          <button class="shop-now-button">Shop Now
            <img class="arrow-right" src="{% static 'myapp/img/arrow-right.svg' %}" alt="">
          </button>
          <img class="ads-img" src="{% static 'myapp/img/image15.svg' %}" alt="laptop">

        </div>

        <div class="ads-frame2">
          <button class="ads-frame-off-btn">50% OFF</button>
          <p class="ads-frame-header-text">Iphone 14 Pro</p>
          <p class="Dontmiss">Don't miss the last opportunity </p>
          <a href="{% url 'detail_page' 3 %}" target="_self">
            <button class="shop-now-button" >Shop Now
              <img class="arrow-right" src="{% static 'myapp/img/arrow-right.svg' %}" alt="">
            </button>
          </a>
          <img class="ads-img" src="{% static 'myapp/img/image16.svg' %}" alt="Iphone">
        </div>

      </div>

      <div class="bestsellerpro">
        <div class="bestsellerpro-header">
          <div class="bestsellerpro-header-text">Our Bestseller Products</div>
          <div class="bestsellerpro-header-nav">
            <div class="bestsellerpro-header-nav1">New</div>
            <div class="bestsellerpro-header-nav2">Featured</div>
            <div class="bestsellerpro-header-nav3">Top Rated</div>
          </div>
        </div>
        <div class="bestsellerpro-all">
          <div class="bestsellerpro1">
            <a href="product/{{ first_products.id }}">
            <p class="bestsellerpro1-header">{{ first_products.name }}</p>
            <p class="bestsellerpro1-pri">${{ first_products.price }}</p>
            <img class="bestsellerpro1-img" src="{{ first_products.image.url }}" alt="first_products.image">
            </a>
          </div>
            <div class="bestsellerpro-2to7">
              {% for product in products %}
                <div class="bestsellerpro2">
                    <a class="adwiser-text-button-link" href="product/{{ product.id }}">
                      <img class="bestsellerpro-imges" src="{{ product.image.url }}" alt="img">
                      <p class="bestsellerpro-name">{{ product.name }}</p>
                      <img class="bestsellerpro-stars" src="{% static 'myapp/img/stars.svg' %}" alt="stars">
                      <p class="bestsellerpro-price">{{ product.price }}</p>
                    </a>
                </div>
              {% endfor %}
            </div>

        </div>

      </div>

      <div class="Advertisement" >
        <div class="adwiser-text-frame">
          <div class="adwiser-text1">{{ active_adviser.header }}</div>
          <div class="adwiser-text2">{{ active_adviser.caption }} </div>
          <button class="adwiser-text-button">
            <a class="adwiser-text-button-link" href="{{ active_adviser.link  }}">Shop Now</a>
            <img class="arrow-right-img" src="{% static 'myapp/img/arrow-right.svg' %}" alt="arrow-right">
          </button>
        </div>
        <img class="Advertisement-img" src="{{ active_adviser.image.url }}" alt="adviser">
      </div>

      <div class="topsellingpro">
        <div class="bestsellerpro-header">
          <div class="bestsellerpro-header-text">Top Selling Products</div>
          <div class="bestsellerpro-header-nav">
            <div class="bestsellerpro-header-nav1">New</div>
            <div class="bestsellerpro-header-nav2">Featured</div>
            <div class="bestsellerpro-header-nav3">Top Rated</div>
          </div>
        </div>
        <div class="bestsellerpro-all">
          <div class="bestsellerpro1">
            <a href="product/{{ first_product_v.id }}">
            <p class="bestsellerpro1-header">{{ first_product_v.name }}</p>
            <p class="bestsellerpro1-pri">${{ first_product_v.price }}</p>
            <img class="bestsellerpro1-img" src="{{ first_product_v.image.url }}" alt="first_products.image">
            </a>
          </div>

        <div class="bestsellerpro-2to7">
          {% for product in next_six_products_v %}
            <div class="bestsellerpro2">
                <a class="adwiser-text-button-link" href="product/{{ product.id }}">
                  <img class="bestsellerpro-imges" src="{{ product.image.url }}" alt="img">
                  <p class="bestsellerpro-name">{{ product.name }}</p>
                  <img class="bestsellerpro-stars" src="{% static 'myapp/img/stars.svg' %}" alt="stars">
                  <p class="bestsellerpro-price">{{ product.price }}</p>
                </a>
            </div>
          {% endfor %}
        </div>


        </div>

      </div>


      <div class="ourfeatures">
        <div class="free-shoping">
          <img class="ourfeatures-icons" src="{% static 'myapp/img/fastdelivery.svg' %}" alt="fast delivery">
          <p class="ourfeatures-text1">Free Shipping</p>
          <p class="ourfeatures-text2">Free shipping for order above $150</p>
        </div>

        <div class="money-guarantee">
          <img class="ourfeatures-icons" src="{% static 'myapp/img/money.svg' %}" alt="Money Guarantee">
          <p class="ourfeatures-text1">Money Guarantee</p>
          <p class="ourfeatures-text2">Within 30 days for an exchange</p>
        </div>

        <div class="online-suppurt">
          <img class="ourfeatures-icons" src="{% static 'myapp/img/packagebox9.svg' %}" alt="Online Support">
          <p class="ourfeatures-text1">Online Support</p>
          <p class="ourfeatures-text2">24 hours a day, 7 days a week</p>
        </div>

        <div class="flexible-payment">
          <img class="ourfeatures-icons" src="{% static 'myapp/img/packagebox10.svg' %}" alt="Flexible Payment">
          <p class="ourfeatures-text1">Flexible Payment</p>
          <p class="ourfeatures-text2">Pay with multiple credit cards</p>
        </div>
      </div>
    </div>

  </div>

      <!------------------- Modal content ------------------->
                          <!-- Login -->
      
        <div id="background-focuse" class="background-focuse">
          <div id="loginModal" class="modal modal-content ">
            <div class="modal-header">
              <span class="close">
                <img class="close-img" src="{% static 'myapp/img/remove.svg' %}" alt="close">
              </span>
              <div class="Welcome">Welcome 👋</div>
              <div class="text">Please login here</div>
              </div>
                <form method="POST"  class="form">
                <div class="modal-body">
                    <label class="label" for="EmailAddress">Email Address</label>
                    <input
                      type="email"
                      placeholder="something@example.com"
                      class="textbox"
                      id="EmailAddress"
                      name="email"
                      required
                    />

                    <label class="label" for="Password">Password</label>
                    <input
                      type="password"
                      class="textbox"
                      id="Password"
                      name="password"
                      required
                    />

                    <div class="forgot-frame">
                      <input class="checkbox" type="checkbox" name="Remember" id="remember" value="Remember Me" />
                      <label class="remember-text" for="remember">Remember Me</label>

                      <a href="#" class="forgot-pass" >
                        <p class="forgot-pass-text">Forgot Password?</p>
                      </a>
                    </div>

                    <div class="button-frame">
                      <button class="buttonlog login-text" type="submit">
                        Login
                      </button>
                        {% csrf_token %}
                        {{ form.as_p }}
                </form >
            </div>
                  <div>
                    <button id="RegBtn" class="buttonreg regester-text">Register</button>
                </div>


        </div>

              {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
              {% endif %}

          <div class="ortext">Or Login With</div>
          <div class="modal-footer1">
            <div class="login-with">
            <button class="gbutton login-textg">
              <img class="g-img" src="{% static 'myapp/img/google.svg' %}" />
              Login with Google
            </button>
            <button class="applebtn login-texta">
              <img class="a-img" src="{% static 'myapp/img/apple.svg' %}" />
              Login with Apple
            </button>
            </div>
          </div>
          </div>
        </div>
      
                         <!-- Register -->
      <div id="RegModal" class="modal modal-content">
          <div class="modal-header">
              <span class="close">
                  <img class="close-img" src="{% static 'myapp/img/remove.svg' %}" alt="close">
              </span>
              <div class="Welcome">Create New Account</div>
              <div class="text">Please enter details</div>
          </div>
          <div class="modal-body">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
              <form method="POST" class="form" action="{% url 'signup' %}">
                  <label class="label" for="Name">Name</label>
                  <input
                      type="text"
                      placeholder="Your name"
                      class="textbox"
                      id="Name"
                      name="username"
                      required
                  />

                  <label class="label" for="EmailAddress">Email Address</label>
                  <input
                      type="email"
                      placeholder="something@example.com"
                      class="textbox"
                      id="EmailAddress"
                      name="email"
                      required
                  />

                  <label class="label" for="Password">Password</label>
                  <input
                      type="password"
                      class="textbox"
                      id="Password"
                      name="password"
                      required
                  />


                  <div class="forgot-frame">
                      <input class="checkbox" type="checkbox" name="agree" id="agree" value="agree" required />
                      <label class="remember-text" for="agree">I agree to the Terms & Conditions</label>
                  </div>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div>
                      <button type="submit" id="OTPBtn" class="buttonlog login-text ">Register</button>
                  </div>

              </form>
          </div>
          <div class="ortextreg">Or Login With</div>

          <div class="modal-footer">
              <div class="login-with">
                  <button class="gbutton login-textg">
                      <img class="g-img" src="{% static 'myapp/img/google.svg' %}" />
                      Login with Google
                  </button>
                  <button class="applebtn login-texta">
                      <img class="a-img" src="{% static 'myapp/img/apple.svg' %}" />
                      Login with Apple
                  </button>
              </div>
          </div>
      </div>

                            <!-- OTP -->
      <div id="otpModal" class="modal-otp modal-content-otp">
        <div >
            <span class="close">
                <img class="close-img-otp" src="{% static 'myapp/img/remove.svg' %}" alt="close">
            </span>
            <div class="otp-header">Enter OTP</div>
            <div class="otp-text-under">We have share a code of your registered email
                 <br> address kristin.watson@example.com
            </div>
        </div>
        
        <div class="otp-textbox-frame">
            <label for="number1" ></label>
            <input type="text" class="otp-textfarme" id="number1" required></input>

            <label for="number2" ></label>
            <input type="text" class="otp-textfarme" id="number2" required></input>
            
            <label for="number3" ></label>
            <input type="text" class="otp-textfarme" id="number3" required></input>
            
            <label for="number4" ></label>
            <input type="text" class="otp-textfarme" id="number4" required></input>
            
            <label for="number5" ></label>
            <input type="text" class="otp-textfarme" id="number5" required></input>
        </div>

        <button id="passChangeBtn" class="send-otp-btn">Send OTP</button>
    </div>

                         <!-- password -->
    <div id="passChangeModal" class="modal-pass-change modal-content-pass-change">
        <img class="password-change-icon" src="{% static 'myapp/img/LockIconSuccessfully.svg' %}" alt="password change">

        <div class="password-change-text">
            <p class="password-change-text-h">Password Changed Successfully</p>
            <p class="password-change-text-p">Your password has been updated successfully</p>
        </div>
        
        <button id="Back_to_Login" class="back-to-login-button">Back to Login</button>
    </div>



    <!-- ---------------------footer-------------------- -->

    <div class="footer-frame container-fluid" >
      <div class="new-footer-frame"></div>
      <div class="electro-style">
          <img src="{% static 'myapp/img/electro.svg' %}" alt="logo">
      </div>

      <div class="phone" >
        <div class="phone-img" >
          <div class="phone-img2"></div>
          <img src="{% static 'myapp/img/calling.svg' %}" alt="calling">
        </div>
        <div class="phone-text">
          <a class="phone-text" href="callto:(316) 555-0116">(316) 555-0116</a>
        </div>
      </div>

      <div class="mailto" >
        <div class="mailto-img">
          <div class="mailto-img2"></div>
          <img src="{% static 'myapp/img/gmail.svg' %}" alt="mailto">
      </div>
        <div class="mail-text">
          <a class="mail-text" href="mailto:electro@example.com">electro@example.com</a>
          
      </div>
      </div>

      <div class="location">
          <div class="location-img" >
            <div class="location-img2" ></div>
              <img src="{% static 'myapp/img/location.svg' %}" alt="location">
          </div>
          <div class="location-text">
              4140 Parker Rd. Allentown, <br/>New Mexico 31134
          </div>
        </div>

      <div class="information">
        <div class="information-header">Information</div>
        <div class="information-links-frame">
          <div class="information-links">
              <span><a href="#" class="information-links">My Account</a></span>
              
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">Login</a></span>
              
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">My Cart</a></span>
              
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">My Wishlist</a></span>
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">Checkout</a></span>
          </div>
        </div>
      </div>

      <div class="service">
        <div class="service-header" >Service</div>
        <div class="service-link-frame">
          <div >
              <span><a href="#" class="service-links">About Us</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Careers</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Delivery Information</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Privacy Policy</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Terms & Conditions</a></span>
          </div>
        </div>
      </div>

      <div class="subscribe-frame" >
        <div class="subscribe-text">
          <div class="subscribe-text1">Subscribe</div>
          <div class="subscribe-text2">Enter your email below to be the first to <br>know about new collections.</div>
        </div>

        <div class="email-frame">
          <div class="email-textbox">
            <div class="email-box">
              <div class="email-img">
                  <img src="{% static 'myapp/img/gmail.svg' %}" alt="Email">
              </div>

              <div class="email-form">
                  <label class="email-form" for="EmailAddress"></label>
                  <input
                  type="email"
                  placeholder="Email Address"
                  class="email-color"
                  id="EmailAddress"
                  />
              </div>
            </div>
            <div>
              <div >
                <button class="submit-butten" type="submit">
                <img src="{% static 'myapp/img/arrow-right.svg' %}" alt="submit">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>
      
      <div class="pic-frame">
          <div class="visa-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/Visa.svg' %}" alt="Visa"> </a>
              </div>
            </div>
          <div class="mastercard-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/Mastercard.svg' %}" alt="Mastercard"> </a>
              </div>
          </div>
          <div class="gplay-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/GooglePay.svg' %}" alt="GooglePay"> </a>
              </div>
          </div>
          <div class="amex-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/Amex.svg' %}" alt="Amex"> </a>
              </div>
          </div>
          <div class="paypal-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/PayPal.svg' %}" alt="PayPal"> </a>
              </div>
          </div>
      </div>

      <div class="media" >
        <div class="media-pic-frame">
          <a href="#" ><img src="{% static 'myapp/img/facebook.svg' %}" alt="facebook"></a>
        </div>
        <div class="media-pic-frame">
          <a href="#" ><img src="{% static 'myapp/img/instagram.svg' %}" alt="instagram"></a>
        </div>
        <div class="media-pic-frame">
          <a href="#" ><img src="{% static 'myapp/img/twitter.svg' %}" alt="twitter"></a>
        </div>
      </div>
      
      <div class="copy">©2023 Electro All Rights are reserved️ </div>

    </div>

</div>

<script src="{% static 'myapp/Script/script_home.js' %}"></script>
</body>
</html>