{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="./style.css" />#}
    <link rel="stylesheet" href="{% static 'myapp/CSS/style_product.css' %}">
    <title>Detail</title>
</head>
<body>
      <!-- ---------------------header-------------------- -->
    <div class="header">
        <div class="overlap">
          <div class="overlap-group">
            <div class="logo-frame">
{#              <img class="logo-text" src="./img/Logo+Text.svg" />#}
              <img class="logo-text" src="{% static 'myapp/img/Logo+Text.svg' %}" />
              <div class="logo-input">
                <div class="logo-input-frame">
                  <div class="logo-img">
{#                    <img src="./img/Icon-select.svg" alt="select" class="menu-line-horizontal ">#}
                    <img src="{% static 'myapp/img/Icon-select.svg' %}" alt="select" class="menu-line-horizontal ">
                </div>
                  <div class="logo-selectbox-frame">
                    <label class="logo-selectbox" for="categories"></label>
                    <select class="logo-selectbox" name="categories" id="categories">
                      <option value="All Categories">All Categories</option>
                      <option value="Category 1">Category 1</option>
                      <option value="Category 2">Category 2</option>
                      <option value="Category 3">Category 3</option>
                    </select> 

                  </div>
                </div>
              </div>
            </div>


            <div class="search-frame">
              <div class="div-color">
                  <!-- <label class="category-frame" for="Search"></label> -->
                  <select class=" search-frame-wrapper" name="Search" id="Search">
                    <option value="All ">All </option>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                    <option value="Category 3">Category 3</option>
                  </select> 
              </div>

              <div class="div-wrapper-textbox">
                <div class="search-frame-input">
{#                  <img class="search-img" src="img/SearchIcon.svg" /> #}
                  <img class="search-img" src="{% static 'myapp/img/SearchIcon.svg' %}" />
                  <label for="search"></label>
                  <input class="search-text" id="search" placeholder="Search" type="text" />
                </div>
              </div>

              <button class="button">
                <span class="button-text">Search</span>
            </button>
            </div>
          </div>

          <div class="navbar">
            <a href="#" class="text-wrapper-2">Home</a>
            <div>
              <label class="text-wrapper-2" for="shop-selectbox"></label>

              <select class="shop-selectbox" name="shop-selectbox" id="shop-selectbox">
                <option class="shop-selectbox" value="Shop">Shop</option>
                <option class="shop-selectbox" value="A">A</option>
                <option class="shop-selectbox" value="B">B</option>
                <option class="shop-selectbox" value="C">C</option>
              </select> 
              

            </div>
            <a href="#" class="text-wrapper-2">About Us</a>
            <a href="#" class="text-wrapper-2">Blog</a>
            <a href="#" class="text-wrapper-2">Contact Us</a>
          </div>
        </div>

        <div class="login-frame">
          <div class="shortcut-frame">
{#            <img class="img" src="img/SearchIcon.svg" />#}
            <img class="img" src="{% static 'myapp/img/SearchIcon.svg' %}" />
{#            <img class="img" src="img/like.svg" />#}
            <img class="img" src="{% static 'myapp/img/like.svg' %}" />
            <button id="shop-btn-h" class="shop-btn-h">
{#                <img class="img" src="img/Shop.svg" />#}
                <img class="img" src="{% static 'myapp/img/Shop.svg' %}" />
            </button>
            <div class="cart-item">
              <div class="overlap-group-2" id="cart_number_value">
                2
                <!-- <div class="text-wrapper-3">2</div> -->
              </div>
            </div>
          </div>
          <button id="loginBtn" class="button-wrapper">
            <!-- <span class="text-wrapper">Login</span> -->
            Login
            <!-- <button class="text-wrapper">Login</button> -->
          </button>
        </div>
    </div>

      <!------------------- Modal content ------------------->
{#    <div id="loginModal" class="modal modal-content">#}
{#      <div class="modal-header">#}
{#        <span class="close">#}
{#          <img class="close-img" src="./img/remove.svg" alt="close">#}
{#        </span>#}
{#        <div class="Welcome">Welcome 👋</div>#}
{#        <div class="text">Please login here</div>#}
{#        </div>#}
{#          <div class="modal-body">#}
{#            <form action="" class="form">#}
{#              <label class="label" for="EmailAddress">Email Address</label>#}
{#              <input#}
{#                type="email"#}
{#                placeholder="something@example.com"#}
{#                class="textbox"#}
{#                id="EmailAddress"#}
{#                required#}
{#              />#}
{##}
{#              <label class="label" for="Password">Password</label>#}
{#              <input#}
{#                type="password"#}
{#                class="textbox"#}
{#                id="Password"#}
{#                #}
{#              />#}
{##}
{##}
{#              <div class="forgot-frame">#}
{#                <input class="checkbox" type="checkbox" name="Remember" id="remember" value="Remember Me" />#}
{#                <label class="remember-text" for="remember">Remember Me</label>#}
{##}
{#                <a href="#" class="forgot-pass" >#}
{#                  <p class="forgot-pass-text">Forgot Password?</p>#}
{#                </a>#}
{#              </div>#}
{##}
{#              <div class="button-frame">#}
{#                <button class="buttonlog login-text" type="submit">#}
{#                  Login#}
{#                </button>#}
{##}
{#                <div>#}
{#                  <button class="buttonreg regester-text">Regester</button>#}
{#                </div>#}
{#              </div>#}
{#            </form>#}
{#          </div>#}
{#    </div>#}
{#    <div class="ortext">Or Login With</div>#}
{##}
{#    <div class="modal-footer">#}
{#      <div class="login-with">#}
{#      <button class="gbutton login-textg">#}
{#        <img class="g-img" src="img/google.svg" />#}
{#        Login with Google      #}
{#      </button>#}
{#      <button class="applebtn login-texta">#}
{#        <img class="a-img" src="img/apple.svg" />#}
{#        Login with Apple#}
{#      </button>#}
{#      </div>#}
{#    </div>#}
{#    </div>#}
    <!-- -------------------detail page-------------------- -->
    <div class="detail-page-frame">
        <div class="product-detail-frame">
            <div class="product-detail-addres">
                <p class="product-detail-addres-text">Home</p>
{#                <img class="product-detail-addres-icon" src="./img/direction-right.svg" alt="then">#}
                <img class="product-detail-addres-icon" src="{% static 'myapp/img/direction-right.svg' %}" alt="then">
                <p class="product-detail-addres-text">Shop</p>
{#                <img class="product-detail-addres-icon" src="./img/direction-right.svg" alt="then">#}
                <img class="product-detail-addres-icon" src="{% static 'myapp/img/direction-right.svg' %}" alt="then">
                <p class="product-detail-addres-text">Apple iPhone 14 Pro</p>
            </div>

            <div class="product-detail">
                <div class="product-detail-mainimg-frame">
                    <img class="product-detail-mainimg" src="{% static 'myapp/img/image16.svg' %}" alt="Product Image">
{#                    <img class="product-detail-mainimg" src="./img/image 16.svg" alt="Product Image">#}
                </div>

                <div class="product-detail-otherimg-main-frame">
                    <div class="product-detail-otherimg-frame">
{#                        <img class="product-detail-otherimg" src="./img/image 16.svg" alt="Product Image">#}
                        <img class="product-detail-otherimg" src="{% static 'myapp/img/image16.svg' %}" alt="Product Image">
                    </div>

                    <div class="product-detail-otherimg-frame">
                        <img class="product-detail-otherimg" src="{% static 'myapp/img/image16.svg' %}" alt="Product Image">
{#                        <img class="product-detail-otherimg" src="./img/image 16.svg" alt="Product Image">#}
                    </div>

                    <div class="product-detail-otherimg-frame">
{#                        <img class="product-detail-otherimg" src="./img/image 16.svg" alt="Product Image">#}
                        <img class="product-detail-otherimg" src="{% static 'myapp/img/image16.svg' %}" alt="Product Image">
                    </div>

                    <div class="product-detail-otherimg-frame">
{#                        <img class="product-detail-otherimg" src="./img/image 16.svg" alt="Product Image">#}
                        <img class="product-detail-otherimg" src="{% static 'myapp/img/image16.svg' %}" alt="Product Image">
                    </div>

                </div>

                <div class="product-detail-maintext-frame">
                    <div class="product-detail-text-header">Apple iPhone 14 Pro</div>
                    <div class="product-detail-text-stars">
{#                        <img class="product-detail-text-stars"  src="./img/stars.svg" alt="Rate">#}
                        <img class="product-detail-text-stars"  src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
                    </div>

                    <div class="product-detail-text-rate">5.0 (121 Reviews)</div>
                    <div id="product-detail-text-price" class="product-detail-text-price">$1999.00</div>
                    <div class="product-detail-text-disc">
                        It is a long established fact that a reader will be distracted by the <br>
                        readable content of a page when looking at its layout. The point of <br>
                        using Lorem Ipsum is that it has a more-or-less normal distribution.
                    </div>

                    <div class="product-detail-text-color">
                        Color
                        <div class="product-detail-text-color-box-frame">
                            <button id="btnCol1" onclick="changeButton('btnCol1','$1999.00')" class="product-detail-text-color-box1 color_frames"></button>
                            <button id="btnCol2" onclick="changeButton('btnCol2','$1899.00')" class="product-detail-text-color-box2 color_frames"></button>
                            <button id="btnCol3" onclick="changeButton('btnCol3','$1799.00')" class="product-detail-text-color-box3 color_frames"></button>
                            <button id="btnCol4" onclick="changeButton('btnCol4','$1699.00')" class="product-detail-text-color-box4 color_frames"></button>
                        </div>
                    </div>

                    <div class="product-detail-text-addcart-frame">
                        <div class="product-detail-text-addcart-number-box">
                            <div class="product-detail-text-addcart-minus-button" id="product-detail-text-addcart-minus-button">-</div>
                            <label for="product-detail-text-addcart-val"></label>
                            <input class="product-detail-text-addcart-input" id="product-detail-text-addcart-val" type="number" value="0" />
                            <div class="product-detail-text-addcart-plus-button" id="product-detail-text-addcart-plus-button">+</div>
                        </div>

                        <button class="product-detail-text-addcart-button" onclick="increase_cart()" >Add to Cart</button>
                        <img class="product-detail-text-addcart-like" src="{% static 'myapp/img/likeButton.svg' %}" alt="Like">
{#                        <img class="product-detail-text-addcart-like" src="./img/likeButton.svg" alt="Like">#}
                    </div>

                    <div class="product-detail-text-share">
                        Share
                        <div class="product-detail-share-iconFrame">
                            <img class="product-detail-share-iconimg" src="{% static 'myapp/img/facebookb.svg' %}" alt="facebook">
                            <img class="product-detail-share-iconimg" src="{% static 'myapp/img/twitterb.svg' %}" alt="twitter">
                            <img class="product-detail-share-iconimg" src="{% static 'myapp/img/instagramb.svg' %}" alt="instagram">
{#                            <img class="product-detail-share-iconimg" src="./img/facebookb.svg" alt="facebook">#}
{#                            <img class="product-detail-share-iconimg" src="./img/twitterb.svg" alt="twitter">#}
{#                            <img class="product-detail-share-iconimg" src="./img/instagramb.svg" alt="instagram">#}

                        </div>
                    </div>

                </div>

            </div>
            <div class="product-descriptions">
                <div class="product-descriptions-nav">
                    <a class="product-descriptions-nav-text" onclick="openTab('product-descriptions-text')" >Descriptions </a>
                    <a class="product-descriptions-nav-text" onclick="openTab('additional-information-table')" >Additional Information </a>
                    <a class="product-descriptions-nav-text" onclick="openTab('product-descriptions-reviews')" >Reviews </a>
                </div>

                <div>
                  <!-- 1 -->
                  <div id="product-descriptions-text" class="detail-frame-active product-descriptions-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quos 
                        temporibus voluptatibus necessitatibus enim inventore reiciendis sequi
                         iste dicta tenetur modi magnam saepe alias, quae quia nulla maiores.
                          Fugit debitis ducimus, exercitationem unde in sed aliquam laborum 
                          accusantium. Distinctio adipisci ratione voluptatem, maxime cupiditate
                           aliquam impedit fugiat debitis facere soluta?
                    </p>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, unde.
                    </p>

                  </div>
                  <!-- 2 -->
                  <div id="additional-information-table" class="detail-frame-active additional-information-table">
                    <table>
                      <tr>
                        <th class="additional-information-table-h">Brand</th>
                        <td class="additional-information-table-d">Apple</td>
                      </tr>
                      <tr>
                        <th class="additional-information-table-h">Item Height</th>
                        <td class="additional-information-table-d">65 CM</td>
                      </tr>
                      <tr>
                        <th class="additional-information-table-h">Item Width</th>
                        <td class="additional-information-table-d">31.4 CM</td>
                      </tr>
                      <tr>
                        <th class="additional-information-table-h">Screen Size</th>
                        <td class="additional-information-table-d">6.5 Inch</td>
                      </tr>
                      <tr>
                        <th class="additional-information-table-h">Model Number</th>
                        <td class="additional-information-table-d">MF841HN/A</td>
                      </tr>
                      <tr>
                        <th class="additional-information-table-h">RAM Size</th>
                        <td class="additional-information-table-d">6 GB</td>
                      </tr>
                      <tr>
                        <th class="additional-information-table-h">Operating System</th>
                        <td class="additional-information-table-d">ios 17</td>
                      </tr>
                    </table>
                  </div>
                  <!-- 3 -->
                  <div id="product-descriptions-reviews" class="detail-frame-active product-descriptions-reviews">
                    <div class="product-descriptions-reviews-header">Customer Reviews</div>
                    <div class="product-descriptions-reviews-comment">
                      <div class="product-descriptions-reviews-per">
                        <div class="product-descriptions-reviews-comment-img">
                          <img src="{% static 'myapp/img/markWill.svg' %}" alt="Image">
{#                          <img src="./img/mark Will.svg" alt="Image">#}
                        </div>
  
                        <div class="product-descriptions-reviews-comment-name-frame">
                          <div class="product-descriptions-reviews-comment-name">
                            Mark Williams
                          </div>
                          <div class="product-descriptions-reviews-comment-star">
                            <img src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
{#                            <img src="./img/stars.svg" alt="Rate">#}
                          </div>
                        </div>
                      </div>
                      <div class="product-descriptions-reviews-main-comment">
                        <div class="product-descriptions-reviews-main-comment-h">
                          Excellent Product, I Love It 😍
                        </div>
                        <div class="product-descriptions-reviews-main-comment-p">
                          It is a long established fact that a reader will be distracted 
                          by the readable content of a page when looking at its layout. 
                          The point of using Lorem Ipsum is that it has a more-or-less 
                          normal distribution of letters, as opposed to using 'Content 
                          here, content here', making it look like readable English.
                        </div>
                        <div class="product-descriptions-reviews-main-comment-r">
                          <div class="product-descriptions-reviews-main-comment-r-c1">Review by </div>
                          <div class="product-descriptions-reviews-main-comment-r-c2">Electro </div>
                          <div class="product-descriptions-reviews-main-comment-r-c1">Posted on </div>
                          <div class="product-descriptions-reviews-main-comment-r-c2">Sep 08, 2023</div>
                        </div>
                      </div>
                    </div>
  
  
                    <div class="product-descriptions-reviews-comment">
                      <div class="product-descriptions-reviews-per">
                        <div class="product-descriptions-reviews-comment-img">
                          <img src="{% static 'myapp/img/alexa.svg' %}" alt="Image">
{#                          <img src="./img/alexa.svg" alt="Image">#}
                        </div>
  
                        <div class="product-descriptions-reviews-comment-name-frame">
                          <div class="product-descriptions-reviews-comment-name">
                            Alexa Johnson
                          </div>
                          <div class="product-descriptions-reviews-comment-star">
                            <img src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
{#                            <img src="./img/stars.svg" alt="Rate">#}
                          </div>
                        </div>
                      </div>
                      <div class="product-descriptions-reviews-main-comment">
                        <div class="product-descriptions-reviews-main-comment-h">
                          My Brother is very much happy with this iPhone
                        </div>
                        <div class="product-descriptions-reviews-main-comment-p">
                          It is a long established fact that a reader will be distracted by the
                           readable content of a page when looking at its layout. The point of 
                           using Lorem Ipsum is that it has a more-or-less normal distribution 
                           of letters, as opposed to using 'Content here, content here', making 
                           it look like readable English.
                        </div>
                        <div class="product-descriptions-reviews-main-comment-r">
                          <div class="product-descriptions-reviews-main-comment-r-c1">Review by </div>
                          <div class="product-descriptions-reviews-main-comment-r-c2">Electro </div>
                          <div class="product-descriptions-reviews-main-comment-r-c1">Posted on </div>
                          <div class="product-descriptions-reviews-main-comment-r-c2">Sep 08, 2023</div>
                        </div>
                      </div>
                    </div>
  
                    <div class="product-descriptions-reviews-addyors">
                      <div class="product-descriptions-reviews-header">Add your Review</div>
                      <form action="">
                        <div class="roduct-descriptions-reviews-addyors-rate">
                          <p class="product-descriptions-reviews-text">Your Rating</p>
                          <div class="roduct-descriptions-reviews-addyors-rates">
                            <img onclick="print_on_console(1)" src="{% static 'myapp/img/star-1.svg' %}" alt="One">
                            <img onclick="print_on_console(2)" src="{% static 'myapp/img/star-2.svg' %}" alt="Two">
                            <img onclick="print_on_console(3)" src="{% static 'myapp/img/star-3.svg' %}" alt="Three">
                            <img onclick="print_on_console(4)" src="{% static 'myapp/img/star-4.svg' %}" alt="Four">
                            <img onclick="print_on_console(5)" src="{% static 'myapp/img/star-5.svg' %}" alt="Five">
{#                            <img onclick="print_on_console(1)" src="./img/star-1.svg" alt="One">#}
{#                            <img onclick="print_on_console(2)" src="./img/star-2.svg" alt="Two">#}
{#                            <img onclick="print_on_console(3)" src="./img/star-3.svg" alt="Three">#}
{#                            <img onclick="print_on_console(4)" src="./img/star-4.svg" alt="Four">#}
{#                            <img onclick="print_on_console(5)" src="./img/star-5.svg" alt="Five">#}
                          </div>
                          
                          <div class="roduct-descriptions-reviews-addyors-info">
                            <label class="roduct-descriptions-reviews-addyors-info-lab" for="Name">Name</label>
                            <input
                            type="text"
                            placeholder="Name"
                            class="roduct-descriptions-reviews-addyors-info-inp1"
                            id="Name"
                            required
                            />
    
                            <label class="roduct-descriptions-reviews-addyors-info-lab" for="EmailAddress">EmailAddress</label>
                            <input
                            type="email"
                            placeholder="Email Address"
                            class="roduct-descriptions-reviews-addyors-info-inp1"
                            id="EmailAddress"
                            required
                            />
    
                            <label class="roduct-descriptions-reviews-addyors-info-lab" for="Your Review">Your Review</label>
                            <input
                            type="text"
                            placeholder="Your Review"
                            class="roduct-descriptions-reviews-addyors-info-inp2"
                            id="Your Review"
                            required
                            />
                            
    
                            
                          </div>
                          <button class="product-descriptions-reviews-button" type="submit">
                            Submit
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
            </div>
        </div>
        <div class="relatedproducts">
            <div class="relatedproducts-header">Related Products</div>

            <div class="relatedproducts-products">
                <div class="relatedproducts-products-p1">
                    <div class="relatedproducts-products-p1-img">
                        <img src="{% static 'myapp/img/image22.svg' %}" alt="Picture">
{#                        <img src="img/image 22.svg" alt="Picture">#}
                    </div>
                    <div class="relatedproducts-products-p1-dis">
                        <div class="relatedproducts-products-p1-dis-h">
                            Apple iPhone 14 Plus
                        </div>
                        <img class="relatedproducts-products-p1-dis-s" src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
{#                        <img class="relatedproducts-products-p1-dis-s" src="./img/stars.svg" alt="Rate">#}
                        <div class="relatedproducts-products-p1-dis-p">
                            $850.00
                        </div>
                    </div>
                </div>

                <div class="relatedproducts-products-p1">
                    <div class="relatedproducts-products-p1-img">
                        <img src="{% static 'myapp/img/image26.svg' %}" alt="Picture">
{#                        <img src="img/image 26.svg" alt="Picture">#}
                    </div>
                    <div class="relatedproducts-products-p1-dis">
                        <div class="relatedproducts-products-p1-dis-h">
                            Xiaomi Fimi X8 Mini                        </div>
                        <img class="relatedproducts-products-p1-dis-s" src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
{#                        <img class="relatedproducts-products-p1-dis-s" src="./img/stars.svg" alt="Rate">#}
                        <div class="relatedproducts-products-p1-dis-p">
                            $650.00
                        </div>
                    </div>
                </div>

                <div class="relatedproducts-products-p1">
                    <div class="relatedproducts-products-p1-img">
                        <img src="{% static 'myapp/img/image19.svg' %}" alt="Picture">
{#                        <img src="img/image 19.svg" alt="Picture">#}
                    </div>
                    <div class="relatedproducts-products-p1-dis">
                        <div class="relatedproducts-products-p1-dis-h">
                            Apple iPad Mini 6 Wi-Fi
                        </div>
                        <img class="relatedproducts-products-p1-dis-s" src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
{#                        <img class="relatedproducts-products-p1-dis-s" src="./img/stars.svg" alt="Rate">#}
                        <div class="relatedproducts-products-p1-dis-p">
                            $500.00
                        </div>
                    </div>
                </div>

                <div class="relatedproducts-products-p1">
                    <div class="relatedproducts-products-p1-img">
                        <img src="{% static 'myapp/img/image25.png' %}" alt="Picture">
{#                        <img src="img/image 25.png" alt="Picture">#}
                    </div>
                    <div class="relatedproducts-products-p1-dis">
                        <div class="relatedproducts-products-p1-dis-h">
                            Asus ROG Delta S
                        </div>
                        <img class="relatedproducts-products-p1-dis-s" src="{% static 'myapp/img/stars.svg' %}" alt="Rate">
{#                        <img class="relatedproducts-products-p1-dis-s" src="./img/stars.svg" alt="Rate">#}
                        <div class="relatedproducts-products-p1-dis-p">
                            $250.00
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>


    <!-- --------------------add card --------------------- -->
    <div id="background-focuse" class="background-focuse">
      <div id="modal-shop" class="modal-shop">
        <div class="modal-shop-frame">
          <p class="modal-shop-itm">You have  
            <span id="modal-shop-itm-spn" class="modal-shop-itm-spn">
              2 items
            </span> in your cart.
          </p>
          <!-- cards -->
          <div class="cards-main-frame">
            <div class="cards-frame">
              <div class="cards-img-frame">
                <img class="cards-img" src="{% static 'myapp/img/image16.svg' %}" alt="product image">
{#                <img class="cards-img" src="./img/image 16.svg" alt="product image">#}
              </div>
              <div>
                <div class="cards-name">
                  Apple iPhone 14 Pro
                </div>
                <div class="cards-price">
                  $
                  <span class="cards-price-tot">1999.00</span>
                </div>
                <div class="QTY">
                  QTY: 1
                  <button class="card-close">
                    <img src="{% static 'myapp/img/trash.svg' %}" alt="delete" class="delete-cart" onclick="deleteCart(0)">
{#                    <img src="./img/trash.svg" alt="delete" class="delete-cart" onclick="deleteCart(0)">#}
                  </button>
                </div>
              </div>
            </div>          
            
            <div class="cards-frame">
              <div class="cards-img-frame">
                <img class="cards-img" src="{% static 'myapp/img/image16.svg' %}" alt="product image">
{#                <img class="cards-img" src="./img/image 16.svg" alt="product image">#}
              </div>
              <div>
                <div class="cards-name">
                  Apple iPhone 14 Pro
                </div>
                <div class="cards-price">
                  $
                  <span class="cards-price-tot">1999.00</span>
                </div>
                <div class="QTY">
                  QTY: 1
                  <button class="card-close">
                    <img src="{% static 'myapp/img/trash.svg' %}" alt="delete" class="delete-cart" onclick="deleteCart(1)">
{#                    <img src="./img/trash.svg" alt="delete" class="delete-cart" onclick="deleteCart(1)">#}
                  </button>
                </div>
              </div>
            </div>

            <div class="cards-frame">
              <div class="cards-img-frame">
                <img class="cards-img" src="{% static 'myapp/img/image25.png' %}" alt="product image">
{#                <img class="cards-img" src="./img/image 25.png" alt="product image">#}
              </div>
              <div>
                <div class="cards-name">
                  Asus ROG Delta S
                </div>
                <div class="cards-price">
                  $
                  <span class="cards-price-tot">250.00</span>
                </div>
                <div class="QTY">
                  QTY: 1
                  <button class="card-close">
                    <img src="{% static 'myapp/img/trash.svg' %}" alt="delete" class="delete-cart" onclick="deleteCart(2)">
{#                    <img src="./img/trash.svg" alt="delete" class="delete-cart" onclick="deleteCart(2)">#}
                  </button>
                </div>
              </div>
            </div>  
          </div>

          <div class="footer-addcard">
            <div class="sub-frame">
              <span class="sub-frame-txt">Subtotal</span>
              <span id="sub-frame-txt-p" class="sub-frame-txt">$2249.00</span>
            </div>
            <button class="veiw-card-btn">View Cart</button>
            <button class="checkout-btn">Checkout</button>
          </div>

        </div>

      </div>

    </div>    

    <!-- ---------------------footer-------------------- -->

    <div class="footer-frame container-fluid" >
      <div class="new-footer-frame"></div>
      <div class="electro-style">
          <img src="{% static 'myapp/img/electro.svg' %}" alt="logo">
{#          <img src="./img/electro.svg" alt="logo">#}
      </div>

      <div class="phone" >
        <div class="phone-img" >
          <div class="phone-img2"></div>
          <img src="{% static 'myapp/img/calling.svg' %}" alt="calling">
{#          <img src="./img/calling.svg" alt="calling">#}
        </div>
        <div class="phone-text">
          <a class="phone-text" href="callto:(316) 555-0116">(316) 555-0116</a>
        </div>
      </div>

      <div class="mailto" >
        <div class="mailto-img">
          <div class="mailto-img2"></div>
          <img src="{% static 'myapp/img/gmail.svg' %}" alt="mailto">
{#          <img src="./img/gmail.svg" alt="mailto">#}
      </div>
        <div class="mail-text">
          <a class="mail-text" href="mailto:electro@example.com">electro@example.com</a>
          
      </div>
      </div>

      <div class="location">
          <div class="location-img" >
            <!-- <div style="width: 6px; height: 6px; left: 9px; top: 8px; position: absolute; border-radius: 9999px; border: 1.50px white solid"></div> -->
            <div class="location-img2" ></div>
              <img src="{% static 'myapp/img/location.svg' %}" alt="location">
{#              <img src="./img/location.svg" alt="location">#}
          </div>
          <div class="location-text">
              4140 Parker Rd. Allentown, <br/>New Mexico 31134
          </div>
        </div>

      <div class="information">
        <div class="information-header">Information</div>
        <div class="information-links-frame">
          <div class="information-links">
              <span><a href="#" class="information-links">My Account</a></span>
              
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">Login</a></span>
              
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">My Cart</a></span>
              
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">My Wishlist</a></span>
          </div>
          <div class="information-links">
              <span><a href="#" class="information-links">Checkout</a></span>
          </div>
        </div>
      </div>

      <div class="service">
        <div class="service-header" >Service</div>
        <div class="service-link-frame">
          <div >
              <span><a href="#" class="service-links">About Us</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Careers</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Delivery Information</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Privacy Policy</a></span>
          </div>
          <div >
              <span><a href="#" class="service-links">Terms & Conditions</a></span>
          </div>
        </div>
      </div>

      <div class="subscribe-frame" >
        <div class="subscribe-text">
          <div class="subscribe-text1">Subscribe</div>
          <div class="subscribe-text2">Enter your email below to be the first to <br>know about new collections.</div>
        </div>

        <div class="email-frame">
          <div class="email-textbox">
            <div class="email-box">
              <div class="email-img">
                  <img src="{% static 'myapp/img/gmail.svg' %}" alt="Email">
{#                  <img src="./img/gmail.svg" alt="Email">#}
              </div>

              <div class="email-form">
                  <label class="email-form" for="EmailAddress"></label>
                  <input
                  type="email"
                  placeholder="Email Address"
                  class="email-color"
                  id="EmailAddress"
                  />
              </div>
            </div>
            <div>
              <div >
                <button class="submit-butten" type="submit">
                <img src="{% static 'myapp/img/arrow-right.svg' %}" alt="submit">
{#                <img src="./img/arrow-right.svg" alt="submit">#}
                </button>
              </div>
                  
                  <!-- <a href="#" class="button-2" >Login</a> -->
              <!-- <div style="width: 8px; height: 12px; left: 8px; top: 6px; position: absolute; border-radius: 2px; border: 1.50px white solid"></div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>
      
      <div class="pic-frame">
          <div class="visa-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/Visa.svg' %}" alt="Visa"> </a>
{#                  <a href="#"><img src="./img/Visa.svg" alt="Visa"> </a>#}
              </div>
            </div>
          <div class="mastercard-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/Mastercard.svg' %}" alt="Mastercard"> </a>
{#                  <a href="#"><img src="./img/Mastercard.svg" alt="Mastercard"> </a>#}
              </div>
          </div>
          <div class="gplay-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/GooglePay.svg' %}" alt="GooglePay"> </a>
{#                  <a href="#"><img src="./img/GooglePay.svg" alt="GooglePay"> </a>#}
              </div>
          </div>
          <div class="amex-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/Amex.svg' %}" alt="Amex"> </a>
{#                  <a href="#"><img src="./img/Amex.svg" alt="Amex"> </a>#}
              </div>
          </div>
          <div class="paypal-frame">
              <div >
                  <a href="#"><img src="{% static 'myapp/img/PayPal.svg' %}" alt="PayPal"> </a>
{#                  <a href="#"><img src="./img/PayPal.svg" alt="PayPal"> </a>#}
              </div>
          </div>
      </div>

      <div class="media" >
        <div class="media-pic-frame">
          <a href="#" ><img src="{% static 'myapp/img/facebook.svg' %}" alt="facebook"></a>
{#          <a href="#" ><img src="./img/facebook.svg" alt="facebook"></a>#}
        </div>
        <div class="media-pic-frame">
          <a href="#" ><img src="{% static 'myapp/img/instagram.svg' %}" alt="facebook"></a>
{#          <a href="#" ><img src="./img/instagram.svg" alt="facebook"></a>#}
        </div>
        <div class="media-pic-frame">
          <a href="#" ><img src="{% static 'myapp/img/twitter.svg' %}" alt="facebook"></a>
{#          <a href="#" ><img src="./img/twitter.svg" alt="facebook"></a>#}
        </div>
      </div>
      
      <div class="copy">©2023 Electro All Rights are reserved️ </div>

    </div>

    <!------------------- Modal content ------------------->
                          <!-- Login -->
        <div id="background-focuse" class="background-focuse">
          <div id="loginModal" class="modal modal-content ">
            <div class="modal-header">
              <span class="close">
                <img class="close-img" src="{% static 'myapp/img/remove.svg' %}" alt="close">
{#                <img class="close-img" src="./img/remove.svg" alt="close">#}
              </span>
              <div class="Welcome">Welcome 👋</div>
              <div class="text">Please login here</div>
              </div>
                <div class="modal-body">
                  <!-- <form action="" class="form"> -->
                    <label class="label" for="EmailAddress">Email Address</label>
                    <input
                      type="email"
                      placeholder="something@example.com"
                      class="textbox"
                      id="EmailAddress" 
                    />
      
                    <label class="label" for="Password">Password</label>
                    <input
                      type="password"
                      class="textbox"
                      id="Password"
                      
                    />
      
      
                    <div class="forgot-frame">
                      <input class="checkbox" type="checkbox" name="Remember" id="remember" value="Remember Me" />
                      <label class="remember-text" for="remember">Remember Me</label>
      
                      <a href="#" class="forgot-pass" >
                        <p class="forgot-pass-text">Forgot Password?</p>
                      </a>
                    </div>
      
                    <div class="button-frame">
                      <button class="buttonlog login-text" type="submit">
                        Login
                      </button>
      
                      <div>
                        <button id="RegBtn" class="buttonreg regester-text">Regester</button>
                    </div>
                  <!-- </form> -->
                </div>
          </div>
          <div class="ortext">Or Login With</div>
      
          <div class="modal-footer">
            <div class="login-with">
            <button class="gbutton login-textg">
              <img class="g-img" src="{% static 'myapp/img/google.svg' %}" />
{#              <img class="g-img" src="img/google.svg" />#}
              Login with Google
            </button>
            <button class="applebtn login-texta">
              <img class="a-img" src="{% static 'myapp/img/apple.svg' %}" />
{#              <img class="a-img" src="img/apple.svg" />#}
              Login with Apple
            </button>
            </div>
          </div>
          </div>
        </div>
      
                          <!-- Register -->
      <div id="RegModal" class="modal modal-content">
          <div class="modal-header">
              <span class="close">
                  <img class="close-img" src="{% static 'myapp/img/remove.svg' %}" alt="close">
{#                  <img class="close-img" src="./img/remove.svg" alt="close">#}
              </span>
              <div class="Welcome">Create New Account</div>
              <div class="text">Please enter details</div>
          </div>
          <div class="modal-body">
              <form action="" class="form">
                  <label class="label" for="Name">Name</label>
                  <input
                      type="text"
                      placeholder="Your name"
                      class="textbox"
                      id="Name"
                  />

                  <label class="label" for="EmailAddress">Email Address</label>
                  <input
                      type="email"
                      placeholder="something@example.com"
                      class="textbox"
                      id="EmailAddress"
                  />

                  <label class="label" for="Password">Password</label>
                  <input
                      type="password"
                      class="textbox"
                      id="Password"
                  />


                  <div class="forgot-frame">
                      <input class="checkbox" type="checkbox" name="agree" id="agree" value="agree" required />
                      <label class="remember-text" for="agree">I agree to the Terms & Conditions</label>
                  </div>

                  <div>
                      <button id="OTPBtn" class="buttonlog login-text ">Regester</button>
                  </div>
              </form>
          </div>
          <div class="ortextreg">Or Login With</div>

          <div class="modal-footer">
              <div class="login-with">
                  <button class="gbutton login-textg">
                      <img class="g-img" src="{% static 'myapp/img/google.svg' %}" />
{#                      <img class="g-img" src="img/google.svg" />#}
                      Login with Google
                  </button>
                  <button class="applebtn login-texta">
                      <img class="a-img" src="{% static 'myapp/img/apple.svg' %}" />
{#                      <img class="a-img" src="img/apple.svg" />#}
                      Login with Apple
                  </button>
              </div>
          </div>
      </div>

                            <!-- OTP -->
      <div id="otpModal" class="modal-otp modal-content-otp">
        <div >
            <span class="close">
                <img class="close-img-otp" src="{% static 'myapp/img/remove.svg' %}" alt="close">
{#                <img class="close-img-otp" src="./img/remove.svg" alt="close">#}
            </span>
            <div class="otp-header">Enter OTP</div>
            <div class="otp-text-under">We have share a code of your registered email
                  <br> address kristin.watson@example.com
            </div>
        </div>
        
        <div class="otp-textbox-frame">
            <label for="number1" ></label>
            <input type="text" class="otp-textfarme" id="number1" required></input>

            <label for="number2" ></label>
            <input type="text" class="otp-textfarme" id="number2" required></input>
            
            <label for="number3" ></label>
            <input type="text" class="otp-textfarme" id="number3" required></input>
            
            <label for="number4" ></label>
            <input type="text" class="otp-textfarme" id="number4" required></input>
            
            <label for="number5" ></label>
            <input type="text" class="otp-textfarme" id="number5" required></input>
        </div>

        <button id="passChangeBtn" class="send-otp-btn">Send OTP</button>
    </div>

                          <!-- password -->
    <div id="passChangeModal" class="modal-pass-change modal-content-pass-change">
        <img class="password-change-icon" src="{% static 'myapp/img/LockIconSuccessfully.svg' %}" alt="password change">
{#        <img class="password-change-icon" src="./img/Lock Icon Successfully.svg" alt="password change">#}

        <div class="password-change-text">
            <p class="password-change-text-h">Password Changed Successfully</p>
            <p class="password-change-text-p">Your password has been updated successfully</p>
        </div>
        
        <button id="Back_to_Login" class="back-to-login-button">Back to Login</button>
    </div>

</div>

{#<script src="./script.js"></script>#}
<script src="{% static 'myapp/Script/script_product.js' %}"></script>
</body>
</html>